:root {
    --first-color: rgb(44, 44, 109);
    --second-color: rgb(32, 40, 46);
    --third-color: rgb(255, 255, 255);
    --first-border: 0.5px solid rgb(153, 147, 147);
    --second-border: 0.5px solid rgb(245, 245, 220);
    --font: 'Roboto', sans-serif;
}

header {
    background-color: var(--first-color);
    color: var(--third-color);
    font-family: var(--font);
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

#course-title {
    display: block;
    margin: 0 auto;
    background-color: var(--first-color);
    color: var(--third-color);
    border: var(--first-border);
    font-family: var(--font);
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: var(--second-color);
    color: var(--third-color);
    margin: 0 auto;
}

nav a {
    display: block;
    color: var(--third-color);
    text-align: center;
    text-decoration: none;
    font-family: var(--font);
    font-weight: 100;
    font-size: 1.2rem;
    padding: 1rem;
}

nav a:hover {
    text-decoration: overline;
    color: var(--third-color)
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    grid-template-rows: 1 3;
    background-color: var(--first-color);
    color: var(--third-color);
    padding: 1rem;
    margin-bottom: 0;
    grid-column: 1 / 3;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
    color: var(--first-color);
    margin-top: 5px;
}

.line {
    border-bottom: var(--first-border);
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    main h1 {
        grid-column: 1;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: var(--first-border);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0;
}

.card-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem 0 2rem;
}

.card h2 {
    text-align: center;
    margin: 0;
    background-color: var(--first-color);
    color: var(--third-color);
    padding: 0.5rem;
    font-weight: 400;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card p {
    text-align: left;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding-right: 10rem;
    padding-bottom: 2rem;
    gap: 1rem;
}
.list a {
    text-decoration: none;
    color: var(--first-color);
    font-weight: 400;
    font-size: 1.1rem;
}

.list a:hover {
    text-decoration: underline;
}

img {
    border: var(--first-border);
    width: 150px;
    border-radius: 0.2rem;
}

footer {
    text-align: center;
    background-color: var(--first-color);
    color: var(--third-color);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0 auto;
}

footer p {
    margin: 0.4rem 0;
}

#lastModified {
    font-size: 0.8rem;
    padding: 0;
    color: rgb(255, 255, 0);
}