@media (min-width: 801px) {

    body {
        max-width: 1200px;
        margin: auto;
    }

    header {
        text-align: center;
        padding: 1rem;
        background: var(--primary);
        color: #F4F4F4;
        position: relative;
    }

    main {
        display: flex;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        padding: 0;
    }
    
     .hero {
        position: relative;
        max-width: 1200px;
        margin: auto;
    }

    .hero img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: cover;
        margin: 0;
        position: relative;
    }

    .data-box, 
    .weather-box {
        position: absolute;
        width: 280px;
        background: #F4F4F4;
        border-radius: 10px;
        border: 1px solid var(--border);
        box-shadow: 0 0 15px #00000025;
        padding: 1rem;
        z-index: 10;
    }

    .data-box {
        top: 20%;
        left: 6%;
    }

    .weather-box {
        top: 60%;
        right: 6%;
    }

    .weather-box img.weather-icon {
        display: none;
    }

    .weather-box h2::after {
        content: "⛅";
        font-size: 2.2rem;
        margin-left: .5rem;
    }
}