:root {
    --primary: #BC002D;
    --dark: #1A1A2E;
    --light: #F4F4F4;
    --text: #1A1A1A;
    --border: #D3D3D3;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: var(--light);
    color: var(--text);
}

h1 {
    font-size: 2.5 rem;
    padding: 0;
    margin: 1rem;
}

h2 {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

ul {
    list-style: none;
    justify-content: center;
}

header {
    text-align: center;
    padding: 1rem;
    background: var(--primary);
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.data-box,
.weather-box {
    background: white;
    border-radius: 10px;
    justify-content: center;
    margin: 0;
    padding-top: 0.5rem;
    border: 1px solid var(--border);
    box-shadow: 0 0 10px #00000010;
}

.weather-box img.weather-icon {
    width: 60px;
    display: block;
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--dark);
    color: white;
}

.data-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data-list li {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: .4rem 0;
}

.data-list .label {
    width: 150px;
    text-align: right;
}

.data-list .value {
    width: 150px;
    text-align: left;
}