:root {
    --first-color: rgb(44, 44, 109);
    --second-color: rgb(32, 40, 46);
    --third-color: rgb(255, 255, 255);
    --first-border: 0.5px solid rgb(153, 147, 147);
    --second-border: 0.5px solid rgb(245, 245, 220);
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    color: var(--third-color);
    margin: 0 auto;
    background-color: var(--first-color);
    color: var(--third-color);
    font-family: var(--font);
}

header,
main {
    margin: 0 auto;
}

header p {
    padding: 0 1.5rem;
    justify-content: left;
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--third-color);
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1rem;
    justify-self: end;
}

#navList {
    max-height: 0;
    overflow: hidden;
    background-color: var(--second-color);
    transition: max-height .3s ease;
    grid-column: 1 / 3;
}

#navList.open {
    max-height: 500px;
    justify-content: center;
    grid-column: 1 / 3;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--third-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

nav a:hover {
    text-decoration: overline;
    color: var(--third-color)
}

h1 {
    background-color: var(--first-color);
    color: var(--third-color);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem 0.7rem 1rem;
    text-align: center;
    font-family: var(--font);
    font-size: 1.1rem;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
    color: var(--first-color);
    margin-top: 5px;
}

img {
    border: var(--first-border);
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

footer {
    text-align: center;
    background-color: var(--first-color);
    color: var(--third-color);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0 auto;
}

footer p {
    margin: 0.4rem 0;
}

#lastModified {
    font-size: 0.8rem;
    padding: 0;
    color: rgb(255, 255, 0);
}