:root {
    --first-color: rgb(44, 44, 109);
    --second-color: rgb(32, 40, 46);
    --third-color: rgb(255, 255, 255);
    --first-border: 0.5px solid rgb(153, 147, 147);
    --second-border: 0.5px solid rgb(245, 245, 220);
    --font: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a:hover {
    text-decoration: overline;
    color: var(--third-color)
}

main {
    max-width: 800px;
    margin: 0 auto;
}